@(service: Form[EditServiceForm], categories: Seq[Category])(implicit request: MessagesRequestHeader)

@main("Ironing") {
    @b4.vertical.form(routes.ServiceController.update()) { implicit vfc =>

        <h1>Edit service</h1>

        @b4.text(service("name"), '_label -> "* Name")
        @b4.select(service("categoryId"), categories.map(c => (c.id.toString, c.name)), '_label -> "* Category")

        <input type="hidden" name="id" value='@service("id").value' >

        @helper.CSRF.formField

        <input type="submit" class="btn btn-secondary" value="Submit"/>
        <a class="btn btn-secondary" role="button" href='@routes.ServiceController.index()'>Back to services</a>
    }
}
