@(service: Form[EditServiceForm], categories: Seq[Category])(implicit request: MessagesRequestHeader)

@main("Ironing") {
    @helper.form(routes.ServiceController.update()) {

        <h1>Edit service</h1>

        <div class="form-group">
            <label for="name">* Name</label>
            <input type="text" id="name" name="name" value="@service("name").value" required="true" class="form-control">
        </div>
        <div class="form-group">
            <label for="categoryId">* Category</label>
            <select id="categoryId" name="categoryId" class="form-control" required="true">
                <option value=""></option>
                @categories.map { category =>
                    <option value="@category.id.toString" @if(service("categoryId").value.contains(category.id.toString)) { selected="selected" }>
                        @category.name
                    </option>
                }
            </select>
        </div>

        <input type="hidden" name="id" value='@service("id").value'>

        @helper.CSRF.formField

        <input type="submit" class="btn btn-secondary" value="Submit"/>
        <a class="btn btn-secondary" role="button" href='@routes.ServiceController.index()'>Back to services</a>
    }
}
