@(service: Form[NewServiceForm])(implicit request: MessagesRequestHeader)

@main("Ironing") {
    @b4.vertical.form(routes.ServiceController.create()) { implicit vfc =>

        <h1>New service</h1>

        @b4.text(service("name"), '_label -> "* Name")
        @b4.text(service("price"), '_label -> "* Price")
        @b4.text(service("categoryId"), '_label -> "* categoryId")

        @helper.CSRF.formField

        <input type="submit" class="btn btn-secondary" value="Submit"/>
        <a class="btn btn-secondary" role="button" href='@routes.ServiceController.index()'>Back to services</a>
    }
}
