@(customer: Form[CustomerForm])(implicit request: MessagesRequestHeader)

@import helper.{inputText, inputRadioGroup, CSRF}

@main("Ironing") {
    @helper.form(
        if (customer("id").value.isDefined)
            routes.CustomerController.update()
        else
            routes.CustomerController.create()
    ) {
        @inputText(customer("nickname"))
        @inputText(customer("email"))
        @inputText(customer("firstName"))
        @inputText(customer("lastName"))
        @inputText(customer("phoneHome"))
        @inputText(customer("phoneMobile"))
        @inputText(customer("notes"))
        @inputRadioGroup(customer("paymentScheme"), Seq("0" -> "Flat rate", "1" -> "Itemized"))

        <input type="hidden" name="id" value='@customer("id").value' >

        @CSRF.formField

        <input type="submit" value="Submit"/>
    }
}
