@(customer: Form[CustomerForm])(implicit request: MessagesRequestHeader)

@isEdit = @{ customer("id").value.isDefined }

@main("Ironing") {
    @b4.vertical.form(if (isEdit) routes.CustomerController.update() else routes.CustomerController.create()) { implicit vfc =>

        <h1>@if(isEdit) { Editing } else { New } customer</h1>

        @b4.text(customer("firstName"), '_label -> "First name")
        @b4.text(customer("lastName"), '_label -> "Last name")
        @b4.text(customer("nickname"), '_label -> "* Nickname")
        @b4.email(customer("email"), '_label -> "Email")
        @b4.text(customer("phoneHome"), '_label -> "Phone home")
        @b4.text(customer("phoneMobile"), '_label -> "Phone mobile")
        @b4.textarea(customer("notes"), '_label -> "Notes")
        @b4.radio(customer("paymentScheme"),
            Seq("0" -> "Flat rate", "1" -> "Itemized"),
            '_label -> "* Payment scheme",
            'required -> "true")

        <input type="hidden" name="id" value='@customer("id").value' >

        @helper.CSRF.formField

        <input type="submit" class="btn btn-secondary" value="Submit"/>
        <a class="btn btn-secondary" role="button" href='@routes.CustomerController.index()'>Back to customers</a>
    }
}
