@(category: Form[CategoryForm])(implicit request: MessagesRequestHeader)

@isEdit = @{ category("id").value.isDefined }

@main("Ironing") {
    @helper.form(if (isEdit) routes.CategoryController.update() else routes.CategoryController.create()) {

        <h1>@if(isEdit) { Editing } else { New } category</h1>

        <div class="form-group">
            <label for="name">* Name</label>
            <input type="text" id="name" name="name" value="@category("name").value" required="true" class="form-control">
        </div>

        <input type="hidden" name="id" value='@category("id").value'>

        @helper.CSRF.formField

        <input type="submit" class="btn btn-secondary" value="Submit"/>
        <a class="btn btn-secondary" role="button" href='@routes.CategoryController.index()'>Back to categories</a>
    }
}
