@()

<div id="header">
  <a class="btn btn-secondary btn-lg" role="button" href='@routes.CustomerController.index()'>Customers</a>
  <a class="btn btn-secondary btn-sm" role="button" href="#">Bookings</a>
  <a class="btn btn-secondary btn-sm" role="button" href="#">Ironing</a>
  <a class="btn btn-secondary btn-lg" role="button" href='@routes.ServiceController.index()'>Services</a>
  <a class="btn btn-secondary btn-sm" role="button" href="#">Staff</a>
  <a class="btn btn-secondary btn-sm" role="button" href="#">Expenses</a>
  <a class="btn btn-secondary btn-sm" role="button" href="#">Statistics</a>
  <a class="btn btn-secondary btn-sm" role="button" href="#">Log Out</a>
</div>
